@using SV2.Managers;

<!DOCTYPE html>
<html lang="en-us">
<head>
    <!--
     ___                _  __   __
    / __|_ __  ___  ___| |_\ \ / /__  ___ _ __  ___ _ _
    \__ \ '_ \/ _ \/ _ \ / /\ V / _ \/ _ \ '_ \/ -_) '_|
    |___/ .__/\___/\___/_\_\ \_/\___/\___/ .__/\___|_|
        |_|                              |_|

        Written by Spike Viper with love and care!
    -->
    <link rel="~/media/apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/media/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/media/favicon-16x16.png">
    <link rel="manifest" href="~/media/site.webmanifest">
    <link rel="mask-icon" href="~/media/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="description" content="A large community of online nerds looking to play games,
          make videos, and have some fun!">
    <meta name="keywords" content="Gaming,YouTube,Community,Forums">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:site_name" content="SpookVooper">
    <meta name="twitter:site" content="@@SpikeViperYT">
    <meta name="twitter:image:alt" content="Potato soldiers on a planet">
    <meta name="theme-color" content="#3948ed">

    <title>@ViewData["Title"] - SpookVooper</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-expand-lg navbar-light box-shadow mb-3">
            <div class="container">
                <div>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="word-break:keep-all">SpookVooper</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" style="">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <!--<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="CommunityDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Nerdcraft
                            </a>
                            <div class="dropdown-menu" aria-labelledby="CommunityDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Nerdcraft" asp-action="Index">Home</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Nerdcraft" asp-action="RulesGeneral">Rules</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Nerdcraft" asp-action="Laws">Laws</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Nerdcraft" asp-action="Jobs">Jobs</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Nerdcraft" asp-action="Guide">Guide</a>
                            </div>
                        </li>-->
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="News" asp-action="Index">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Exchange" asp-action="Index">Exchange</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="CommunityDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Community
                            </a>
                            <div class="dropdown-menu" aria-labelledby="CommunityDropdown">
                                <a class="dropdown-item" asp-area="" asp-route-id="Root" asp-controller="Forum" asp-action="Index">Forums</a>
                                <a class="dropdown-item" asp-controller="Government" asp-action="Index">Government</a>
                                <a class="dropdown-item" asp-controller="Leaderboard" asp-action="Index">Leaderboard</a>
                                <a class="dropdown-item" asp-controller="Government" asp-action="Map">Districts</a>
                                <a class="dropdown-item" asp-controller="Government" asp-action="Elections">Elections</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="SearchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                People
                            </a>
                            <div class="dropdown-menu" aria-labelledby="SearchDropdown">
                                @{
                                    User? user = UserManager.GetUser(Context);
                                    //if (User != null) { user = await userManager.GetUserAsync(User); }

                                    if (user is not null)
                                    {
                                        <a class="dropdown-item" asp-controller="Manage" asp-action="Index">My Account</a>
                                        <a class="dropdown-item" asp-controller="User" asp-action="Info" asp-route-svid="@user.Id">My Page</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" asp-controller="Manage" asp-action="Index" disabled>My Account</a>
                                        <a class="dropdown-item" asp-controller="User" asp-action="Info" disabled>My Page</a>
                                    }
                                }

                                <a class="dropdown-item" asp-controller="User" asp-action="Search">Find</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="GroupDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Groups
                            </a>
                            <div class="dropdown-menu" aria-labelledby="GroupDropdown">
                                <a class="dropdown-item" asp-controller="Group" asp-action="Create">Create</a>
                                <a class="dropdown-item" asp-controller="Group" asp-action="MyGroups">My Groups</a>
                                <a class="dropdown-item" asp-controller="Group" asp-action="Search">Find</a>
                            </div>
                        </li>
                    </ul>
                </div>

                <div>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>
    <div>
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="d-flex justify-content-between">
                <div class="p-1">
                    &copy; 2019-2021 - Vooper Media LLC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
                <div class="p-10" />
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="/js/chart.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>