@model Group
@{
    ViewData["Title"] = "Invite to Group";
}

<div class="container vw-100">
    <div class="col-12">
        <h4>@ViewData["Title"]</h4>
        @await Html.PartialAsync("_StatusMessage", TempData["StatusMessage"])

        <a asp-controller="Group" asp-action="View" asp-route-id="@Model.Id">
            <button class="btn btn-primary">Go Back</button>
        </a>

        <!form method="post" action="/Group/@Model.Id/Invite">
            @Html.AntiForgeryToken()
            <div class="col-12 align-content-center text-center" style="margin-left: auto;margin-right: auto;max-width: 500px;">
                <p>Entity's name to invite</p>
            <input data-val="true" data-val-required="The Id field is required." id="EntityId" name="EntityId" type="hidden" value="0">
                <div class="input-group" style="max-width:700px;margin-left:auto;margin-right:auto;">
                    <input style="margin-bottom:20px; display:inline-block; max-width:500px;" id="user-input" class="form-control" value="" />
                    <div class="input-group-append">
                        <button id="submit" class="btn btn-outline-warning" style="display:inline-block;margin-bottom:20px">Invite</button>
                    </div>
                </div>
                <span id="svid-text" class="text-warning">Id of entity selected: </span>
                <br />
                <span id="name-text" class="text-warning">Name of entity selected: </span>

                <div id="results" style="margin-top:20px">
                </div>
            </div>
        </!form>
    </div>
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $('#user-input').on("change keyup paste", OnInput);
    var box = $('#user-input');
    var results = $('#results');
    var svid_text = $('#svid-text');
    var name_text = $('#name-text');
    var id_input = $('#EntityId');
    var selected = "";
    var last = "";
    var cur = [];
    function OnInput() {
        var name = box.val();
        if (name != last) {
            last = name;
            $.getJSON("/api/entity/search?name=" + name, function (data) {
                if (data != null) {
                    results.empty();
                    data.forEach(result => console.log(result));
                    data.forEach(result => new function () {
                        console.log(result);
                        var add = "<div id='" + result.id + "' style='margin:5px'><img class='smallpfp' style='display: inline-block' src='" + result.image_Url + "' onerror='fiximg(this)'><h5 style='display: inline-block; padding:5px'>" + result.name + "</h5></div>";
                        results.prepend(add);
                        var element = $('#' + result.id);
                        cur.push(element);
                        element.click(function () {
                            cur.forEach(ele => new function () {
                                ele.css("background-color", "rgba(0, 0, 0, 0)");
                            });
                            element.css("background-color", "rgba(0, 255, 0, 0.1)");
                            svid_text.text("Id of Entity Currently Selected: " + result.id);
                            name_text.text("Name of Entity Currently Selected: " + result.name);
                            id_input.val(result.id);
                            selected = result.id;
                        });
                    }
                    );
                }
            }).fail(function () { });
        }
    }
    function fiximg(c) {
        c.onerror = '';
        c.src = '/media/unity-128.png';
    }
</script>