@model string
@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>

<p>Please enter the following command on valour or the SpookVooper planet, "/login @Model"</p>

<a href="/home/entered">
    <button>Entered</button>
</a>