@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/discordInvite.css" />
    <meta property="og:title" content="SpookVooper: Community and More">
    <meta property="og:description" content="Forums, games, and more for a group of nerds who are part of the great nation Vooperia.">
    <meta property="og:url" content="https://SpookVooper.com/">
    <meta property="og:image" content="/media/unity-512.png">
    <meta name="twitter:card" content="/media/unity-512.png">
</head>

<div class="container vw-100">
    <div class="col-12">
        @await Html.PartialAsync("_StatusMessage", TempData["StatusMessage"])
    </div>
</div>
<div class="text-center">
    <h1 class="display-4">Games. Videos. Community.</h1>
    <h2>Welcome to SpookVooper</h2>
    <div class="container align-content-center justify-content-center">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <img style="max-width:100%; margin-left:auto; margin-right:auto; display:block" src="/media/unity-1k.png" alt="Vooperian potato planet logo" />
            </div>
            <div class="col-2"></div>
        </div>
    </div>

    <hr />
    <br />

    <div class="container align-content-center justify-content-center">
        <div class="d-flex justify-content-center flex-wrap">
            <div class="p-4">
                <div style="max-width:300px">
                    <h2>The YouTube</h2>
                    <br />
                    <img class="govpfp" style="max-width:256px; margin-left:auto; margin-right:auto; display:block" src="~/media/spike_pfp.png" alt="President SpikeViper" />
                    <br />
                    <p style="text-align:center">The channel is where new videos are posted which expand the world of SpookVooper - it is where this community was born and where it builds its numbers. Support the root of our community and subscribe!</p>
                    <div class="g-ytsubscribe" data-channelid="UCmPpv3UMyPVfiHw9T2mbHfQ" data-layout="default" data-count="default"></div>
                </div>
            </div>
            <div class="p-4">
                <div style="max-width:300px">
                    <h2>The Discord</h2>
                    <br />
                    <img class="govpfp" style="height:256px; width:256px; object-fit:cover; margin-left:auto; margin-right:auto; display:block" src="~/media/potatowar.png" alt="Vooperian potato soldiers at war" />
                    <br />
                    <p style="text-align:center">You are welcome to join our discord, where most of our activity lies. Chill with friends, play some games, and remember to be a proud Vooperian! Your activity on the discord results in XP, which you can use anywhere on SpookVooper!</p>
                    <div style="max-width:300px" id="discordInviteBox"></div>
                </div>
            </div>
            <div class="p-4">
                <div style="max-width:300px">
                    <h2>The Twitch</h2>
                    <br />
                    <img class="govpfp" style="max-width:256px; margin-left:auto; margin-right:auto; display:block" src="~/media/pixelart.png" alt="SpikeViper setting off a nuke in the distance" />
                    <br />
                    <p style="text-align:center">Catch me live and suggest some cool ideas on Twitch! I'm live almost daily and I'm ready to watch things get crazy - a few blown up planets and flooded cities can't hurt!</p>
                    <div style="max-width:300px" id="discordInviteBox"></div>

                    <a href="https://twitch.tv/spikeviper">Link to Channel</a>
                </div>
            </div>
        </div>
    </div>

    <br />
    <hr />

</div>

<footer>
    <script src="https://apis.google.com/js/platform.js"></script>
    <script src="~/js/discordInvite.js"></script>
    <script>
        discordInvite.init({
            inviteCode: 'spookvooper',
            title: 'SpookVooper',
            miniMode: true
        });
        discordInvite.render();
    </script>
</footer>