@model string
@{
    ViewData["Title"] = "Client Secret";
}

<div class="container vw-100">
    <div class="col-12">
        <h4>@ViewData["Title"]</h4>

        <p>Do not share this key with anyone! Seriously, don't.</p>
        <input class="form-control" value="@Model" disabled />

        <p>In an emergency, you can:</p>

        <a asp-action="ResetSecret" asp-controller="Oauth" asp-route-secret="@Model" class="btn btn-outline-danger">Reset Secret</a>

    </div>
</div>