/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Custom styles from Mr. Spike himself */

/* Color themes */

:root {
    --primary-color: #040d14;
    --secondary-color: #aaaaaa;
    --font-color: #ffffff;
    --bg-color: #202020;/*#040d14; */
    --heading-color: #040d14;
    --link-color: #00aaff;
    --border-color: #303030;
    --alt-border-color: #666666;
    --input-color: #000000;
    --comment-hue: rgba(0, 0, 0, 0.02);
    --main-4: #192630;
}

.modifier-tooltip-modifier-listitem-good, .modifier-icon-good {
    color: #63AA54;
}

.modifier-tooltip-modifier-listitem-bad, .modifier-icon-bad {
    color: #DB5454;
}

.modifier-tooltip-modifier-listitem-neutral {
    color: #FFFFFF;
}

.modifier-tooltip-div {
    opacity: 1 !important;
}

.modifier-tooltip-div, .modifier-tooltip-div .tooltip-inner {
    background-color: var(--main-4);
}

.modifier-tooltip-div .tooltip-inner {
    max-width: 400px;
}

.modifier-tooltip-listitem-name, modifier-tooltip-description {
    color: #D8D18E;
}

.modifier-tooltip-name, .modifier-tooltip-description {
    color: #FFFFFF;
}

.new-input-style {
    background-color: unset !important;
    border: unset !important;
    color: unset !important;
}

.new-input-style label {
    font-weight: 400;
    font-size: 15px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.75);
}

.new-input-style input,
.new-input-style textarea {
    background: var(--main-4);
    border: 1px solid #030B11;
    color: #ffffff;
    padding: 5px 9px;
}

    .new-input-style input:focus {
        color: white;
        background-color: var(--main-4);
        border: 1px solid #030B11;
        outline: 0;
        box-shadow: unset;
    }

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  transition: 0.1s;
}

a {
  color: var(--link-color);
}

.p-1 {
  color: var(--font-color);
}

.has-expanded-info {
    text-decoration: underline dotted;
    cursor: pointer;
}

.modal-body .has-expanded-info {
    text-decoration: underline;
    cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.svdropdown {
  background-color: var(--input-color);
  border-color: var(--alt-border-color);
  color: var(--font-color);
  border-radius: 5px;
  min-height: 50px;
}

select option {
  background-color: var(--input-color);
  border-color: var(--alt-border-color);
  color: var(--font-color);
}

[data-bs-theme=dark] .form-select {
    background-color: var(--input-color);
    border-color: var(--alt-border-color);
    color: var(--font-color);
    box-shadow: none;
}

.form-control {
  background-color: var(--input-color);
  border-color: var(--alt-border-color);
  color: var(--font-color);
}

  .form-control:disabled {
      background-color: var(--border-color);
      border-color: var(--alt-border-color);
      color: var(--font-color);
  }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--font-color);
  background-color: var(--bg-color);
  border-color: var(--border-color);
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: var(--font-color);
  background-color: var(--bg-color);
  border-color: var(--border-color);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: var(--font-color);
  background-color: var(--bg-color);
  border-color: var(--border-color);
}

.dropdown-menu.show {
  color: var(--font-color);
  background-color: var(--bg-color);
  border-color: var(--border-color);
}

.dropdown-item {
  color: var(--font-color);
  background-color: var(--bg-color);
  border-color: var(--border-color);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
      font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid var(--border-color);
}

.border-bottom {
  border-bottom: 1px solid var(--border-color);
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Theming */
  background-color: var(--bg-color);
  color: var(--font-color);
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

h1 {
  color: var(--font-color);
}

h2 {
  color: var(--font-color);
}

h3 {
  color: var(--font-color);
}

h4 {
  color: var(--font-color);
}

label {
  color: var(--font-color);
}

p {
  color: var(--font-color);
}

header {
  /* Theming */
  background-color: var(--bg-color);
  color: var(--font-color);
}

pre {
  color: #dddddd;
  white-space: pre-wrap;
}



.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  border-top: solid;
  border-width: 1px;
  border-top-color: var(--border-color);
  color: var(--font-color);
}

.navbar {
  color: var(--font-color);
  border-bottom: solid;
  border-width: 1px;
  border-bottom-color: var(--border-color);
}

.btn-link {
  color: var(--link-color);
}

.navbar .navbar-brand {
  color: var(--font-color);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--secondary-color);
}

.navbar .nav-link {
  color: var(--secondary-color);
}

.navbar-light .navbar-toggler {
  color: var(--secondary-color);
  border-color: var(--border-color);
}

.table thead th {
  color: var(--font-color);
  border-top-color: var(--border-color);
  border-bottom-color: var(--border-color);
}

.table th {
  color: var(--font-color);
  border-top-color: var(--border-color);
}

.table td {
  color: var(--font-color);
  border-top-color: var(--border-color);
}

/* Other styles */

.govpfp {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.smallpfp {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 40px;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.notidot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 15px;
  font-size: 11px;
}

/* WebGL CSS */

.webgl-content * {
  border: 0;
  margin: 0;
  padding: 0
}

.webgl-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

  .webgl-content .logo, .progress {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  }

  .webgl-content .logo {
      background: url('../vooperio/TemplateData/progressLogo.Light.png') no-repeat center / contain;
      width: 154px;
      height: 130px;
  }

  .webgl-content .progress {
      height: 18px;
      width: 141px;
      margin-top: 90px;
  }

      .webgl-content .progress .empty {
          background: url('../vooperio/TemplateData/progressEmpty.Light.png') no-repeat right / cover;
          float: right;
          width: 100%;
          height: 100%;
          display: inline-block;
      }

      .webgl-content .progress .full {
          background: url('../vooperio/TemplateData/progressFull.Light.png') no-repeat left / cover;
          float: left;
          width: 0%;
          height: 100%;
          display: inline-block;
      }

  .webgl-content .logo.Dark {
      background-image: url('../vooperio/TemplateData/progressLogo.Dark.png');
  }

  .webgl-content .progress.Dark .empty {
      background-image: url('../vooperio/TemplateData/progressEmpty.Dark.png');
  }

  .webgl-content .progress.Dark .full {
      background-image: url('../vooperio/TemplateData/progressFull.Dark.png');
  }

  .webgl-content .footer {
      margin-top: 5px;
      height: 38px;
      line-height: 38px;
      font-family: Helvetica, Verdana, Arial, sans-serif;
      font-size: 18px;
  }

      .webgl-content .footer .webgl-logo, .title, .fullscreen {
          height: 100%;
          display: inline-block;
          background: transparent center no-repeat;
      }

      .webgl-content .footer .webgl-logo {
          background-image: url('../vooperio/TemplateData/webgl-logo.png');
          width: 204px;
          float: left;
      }

      .webgl-content .footer .title {
          margin-right: 10px;
          float: right;
      }

      .webgl-content .footer .fullscreen {
          background-image: url('../vooperio/TemplateData/fullscreen.png');
          width: 38px;
          float: right;
      }

/* Slider CSS */

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 28px;
  position: relative;
  width: 54px;
}

  .theme-switch input {
      display: none;
  }

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

  .slider:before {
      background-color: #fff;
      bottom: 4px;
      content: "";
      height: 20px;
      left: 4px;
      position: absolute;
      transition: .4s;
      width: 20px;
  }

input:checked + .slider {
  background-color: #66bb6a;
}

  input:checked + .slider:before {
      transform: translateX(26px);
  }

.slider.round {
  border-radius: 34px;
}

  .slider.round:before {
      border-radius: 50%;
  }

/* Forum CSS */
.forum-card {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 5%;
}

.comment-card {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: var(--comment-hue);
  margin-top: 5px;
}

.srow {
  border-top: 1px solid var(--border-color);
  padding-top: 10px;
  padding-bottom: 10px;
}

.forumlistcard {
  border: 1px solid var(--border-color);
  padding-top: 10px;
  padding-bottom: 10px;
}

.scolumn {
  display: table-cell;
  justify-self: center;
  text-align: center;
  vertical-align: middle;
}

.forumtable-text {
  margin-bottom: 0.5rem;
  height: 100%;
  top: 50%;
  bottom: 50%;
}

.likebutton {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.memberbox {
  border-top: 1px solid var(--border-color);
}

.nametext {
  text-shadow: -1px -1px 0 var(--border-color), 0 -1px 0 var(--border-color), 1px -1px 0 var(--border-color), 1px 0 0 var(--border-color), 1px 1px 0 var(--border-color), 0 1px 0 var(--border-color), -1px 1px 0 var(--border-color), -1px 0 0 var(--border-color);
  font-weight: 600;
  word-break: break-all;
  display: inline-block;
}

.memberpfp {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 40px;
  float: left;
  margin: 4px;
  display: inline-block;
}

/* Stock Market CSS */
.stocktable {
  border: 1px solid var(--border-color);
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 800px;
}

.cashtext {
  color: lightgreen;
}

.newsblurb {
  border: 1px solid var(--border-color);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.newsblurbimg {
  height: 128px;
  width: 128px;
  border-radius: 20%;
  object-fit: cover;
}

.newsblurbgroupimage {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  vertical-align: top;
  margin-right: 10px;
  margin-top: 5px;
  object-fit: cover;
}

.newstitletext {
  width: 80%;
  display: inline-block;
  line-height: 48px;
}

.newsblurbtitle {
  width: 80%;
  display: inline-block;
}

.newsviewbox {
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}

.newspostgroupimage {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  vertical-align: top;
  margin-right: 10px;
  margin-top: 5px;
}

.newsinnerimage {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.newscontent {
  word-break: break-word;
  width: 100%;
}

  .newscontent * {
      width: 100%;
  }

.largeimage {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.nerdcraft-main-image {
  background-image: url(../media/nerdcraft/sunrise.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.nerdcraft-rules-image {
  background-image: url(../media/nerdcraft/prison-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.nerdcraft-laws-image {
  background-image: url(../media/nerdcraft/law-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.nerdcraft-guide-image {
  background-image: url(../media/nerdcraft/bridge-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.nerdcraft-jobs-image {
  background-image: url(../media/nerdcraft/jobs-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.nerdcraft-info {
  max-width: 50%;
  margin: auto;
  margin-bottom: 8em;
  font-size: 24px;
}

.nerdcraft-code-image {
  background-image: url(../media/nerdcraft/code.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  width: 40%;
  height: 80em;
  margin-right: 10em;
  margin-bottom: 50px;
  display: inline-block;
  float: left;
  box-shadow: 0 0 15px 15px var(--bg-color) inset;
}

.nerdcraft-const-image {
  background-image: url(../media/nerdcraft/constitution.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  width: 40%;
  height: 80em;
  margin-right: 10em;
  margin-bottom: 70px;
  display: inline-block;
  float: left;
  box-shadow: 0 0 15px 15px var(--bg-color) inset;
}

.nerdcraft-small-title {
  margin: auto;
  max-width: 90%;
  color: mediumvioletred;
}

.nerdcraft-small-info {
  max-width: 90%;
  margin: auto;
  margin-bottom: 2em;
  font-size: 24px;
}

.nerdcraft-cmd-info {
  max-width: 90%;
  margin: auto;
  padding-left: 2em;
  font-size: 24px;
  color: cyan;
  font-weight: bold;
}

.nerdcraft-rules-info {
  max-width: 90%;
  margin: auto;
  padding-left: 2em;
  font-size: 24px;
}

.nerdcraft-rules-info-tab {
  max-width: 90%;
  margin: auto;
  padding-left: 2em;
  font-size: 24px;
}

.money-green {
  color: limegreen;
}

.money-red {
  color: red;
}

.stock-square {
  border: solid;
  border-color: var(--border-color);
  padding: 1em;
  width: 10em;
  height: 15em;
  border-radius: 5px;
  margin: 5px;
}

.stock-owned-square {
  border: solid;
  border-color: var(--border-color);
  padding: 1em;
  width: 15em;
  height: 15em;
  border-radius: 5px;
  margin: 5px;
}

.owned-hr-holder {
  width: 13em;
  margin: 0 auto;
}

.stock-square-hr {
  border-top: solid 1px var(--border-color);
}

.hr-holder {
  width: 7em;
  margin: 0 auto;
}

.stock-square .money-green {
}

.stock-square-title {
  height: 7.5em;
  margin-bottom: auto;
}

.stock-search {
  width:75%;
  margin:auto;
}

.stock-sortby {
  display:inline-block;
}

.account-box {
  border: solid;
  border-color: var(--border-color);
  padding: 1em;
  min-width: 30em;
  min-height: 6em;
  border-radius: 5px;
  margin: 5px;
}

.account-image {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  display:inline-block;
}

.account-name {
  margin-left: 1em;
  display: inline-block;
  width:70%;
  word-break:break-word;
  word-wrap:break-word;
  overflow-wrap:break-word;
}

/* Trading stuff */

.trade-row {
  display: flex;
  flex-wrap: wrap;
}

.trade-center-col {
  width:50%;
  padding: 20px;
}

.trade-side-col {
  width: 25%;
  padding: 20px;
}

/* On screens that are 992px wide or less */
@media screen and (max-width: 992px) {
  .trade-row{
      flex-direction: column;
  }

  .trade-center-col {
      width:100%;
      padding: 2em;
  }

  .trade-side-col {
      width:100%;
  }
}

.order-queue {
  /*border: solid 1px var(--border-color);*/
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.offer-box {
  border-top: solid 1px var(--border-color);
  width: 100%;
}

.offer-text {
  display: inline-block;
  flex: 33%;
  margin: 0;
}

.trade-bar {
  color: var(--border-color);
  display:inline-block;
}

.buy-button {
  color: lime;
  background-color: #222222;
}

.sell-button {
  color: red;
  background-color: #222222;
}

.trade-at {
  background-color: #222222;
  color: white;
}

.trade-market {
  color: #636c72;
}

.chat-box {
  border: 1px solid var(--border-color);
  width: 95%;
  height: 200px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.chat-view {
  height: 160px;
  width: 100%;
  border-radius: 5px;
  background-color: var(--bg-color);
  padding-left: 10px;
  padding-right: 10px;
  overflow:scroll;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid black;
}

.chat-input {
  border-radius: 5px;
  height: 40px;
  width: 100%;
  background: var(--bg-color);
  color: white;
}

.chat-message {
  color: white;
  margin: 0px;
  word-break:break-all;
}

.login-box {
  background-color: #333333;
  border-radius: 10px;
  border-color: grey;
  margin: auto;
  padding: 50px;
  max-width: 600px;
  max-height: 1000px;
  z-index: 2;
  box-shadow: 0px 0px 15px #000000;
  transform: translateY(5%);
}

.login-background {
  background-image: url(/media/Spookvooper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height:100vh;

  margin: 0px;

  backdrop-filter: blur(5px);
}

@media screen and (max-width: 992px) {
  .login-box {
      max-width: 90%;
      max-height: 100%;
      transform: translateY(5%);
  }
}

.wargame-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-modal-zindex);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.wargame-modal-body-holder {
    margin: 1.75rem;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: auto;
    pointer-events: none;
}

.wargame-modal-body {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    border-width: 1px;
    border-radius: 10px;
    outline: 0px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}